# 1.Student Performance Indicator
# 2.Life cycle of Machine learning Project
# 3.Understanding the Problem Statement
# 4.Data Collection
# 5.Data Checks to perform
# 6.Exploratory data analysis
# 7.Data Pre-Processing
# 8.Model Training
# 9.Choose best model

# 1) Problem statement
# This project understands how the student's performance (test scores) is affected by other variables such as Gender, Ethnicity, Parental level of education, Lunch and Test preparation course.

2) 
# Data Collection
# Dataset Source - https://www.kaggle.com/datasets/spscientist/students-performance-in-exams?datasetId=74977
# The data consists of 8 column and 1000 rows.

# 2.1 Import Data and Required Packages
# Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [156]:
pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [157]:
pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [158]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

Import the CSV Data as Pandas DataFrame

In [159]:
df = pd.read_csv("data/WA_Fn-UseC_-Telco-Customer-Churn_new_ad.csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# Show top 5 rows

In [160]:
df.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# shape of the data set

In [161]:
df.shape

(10323, 21)

# 2.2 Dataset information

##### customerID
##### gender : sex of students -> (Male/female)
##### SeniorCitizen : yes / no
##### Partner	: yes / no
##### Dependents : 
##### tenure : months value (1,2,7,12,45... etc)
##### PhoneService : yes / no
##### MultipleLines : yes / no /multiple_line 
##### InternetService : Fiber optic / dsl
##### OnlineSecurity : yes / no
##### OnlineBackup : yes / no
##### DeviceProtection : yes / no
##### TechSupport : yes / no
##### StreamingTV : yes / no
##### StreamingMovies : yes / no
##### Contract : Monthly /yearly
##### PaperlessBilling : yes / no
##### PaymentMethod : bank transfer /check /mail
##### MonthlyCharges : value
##### TotalCharges : value
##### Churn : yes / no

## 3. Data Checks to perform
##### Check Missing values
##### Check Duplicates
##### Check data type
##### Check the number of unique values of each column
##### Check statistics of data set
##### Check various categories present in the different categorical column

#### 3.1 Check Missing values

In [162]:
df.isna().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        28
Churn                0
dtype: int64

#### 3.2 Check Duplicates

#### '28' missing values in "TotalCharges" column.

In [163]:
df.duplicated().sum()

4

##### '4' duplicated values is found in data set

#### 3.3 Check data type of the data set

In [164]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [165]:
#### check null and dtype 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10323 entries, 0 to 10322
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        10323 non-null  object
 1   gender            10323 non-null  object
 2   SeniorCitizen     10323 non-null  int64
 3   Partner           10323 non-null  object
 4   Dependents        10323 non-null  object
 5   tenure            10323 non-null  int64
 6   PhoneService      10323 non-null  object
 7   MultipleLines     10323 non-null  object
 8   InternetService   10323 non-null  object
 9   OnlineSecurity    10323 non-null  object
 10  OnlineBackup      10323 non-null  object
 11  DeviceProtection  10323 non-null  object
 12  TechSupport       10323 non-null  object
 13  StreamingTV       10323 non-null  object
 14  StreamingMovies   10323 non-null  object
 15  Contract          10323 non-null  object
 16  PaperlessBilling  10323 non-null  object
 17  PaymentMethod     10323 non-null  object
 18  MonthlyCharges    10323 non-null  float64
 19  TotalCharges      10295 non-null  object
 20  Churn             10323 non-null  object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.7+ MB

#### 3.4 Checking the no of unique values in data sets

In [166]:
df.nunique()

customerID          10310
gender                  2
SeniorCitizen           2
Partner                 2
Dependents              2
tenure                 73
PhoneService            2
MultipleLines           3
InternetService         3
OnlineSecurity          3
OnlineBackup            3
DeviceProtection        3
TechSupport             3
StreamingTV             3
StreamingMovies         3
Contract                3
PaperlessBilling        2
PaymentMethod           4
MonthlyCharges       1585
TotalCharges         6531
Churn                   2
dtype: int64

#### 3.5 Check statistics of data set

In [167]:
df.describe()

       SeniorCitizen        tenure  MonthlyCharges
count   10323.000000  10323.000000    10323.000000
mean        0.203139     32.284317       64.818493
std         0.402354     24.574950       30.113270
min         0.000000      0.000000       18.250000
25%         0.000000      9.000000       35.450000
50%         0.000000     29.000000       70.450000
75%         0.000000     55.000000       89.900000
max         1.000000     72.000000      118.750000

##### Insight: Values are varry and do the data cleanning part

#### 3.1 Handle missing values : (1) collect data or (2) delete or impute (part of 3.1) FOR numarecal
https://www.analyticsvidhya.com/blog/2021/10/handling-missing-value/

In [168]:
#### 'Totalcharges' column consistswith 28 missing values and the column d type is object.So first convert it numeric and then 
#### using fillna (median)

df.TotalCharges = pd.to_numeric(df.TotalCharges, errors='coerce')

print("\n Change from 'TotalCharges' column (object data type) to 'TotalCharges' column (float64 data type) : ")
df.dtypes

 Change from 'TotalCharges' column (object data type) to 'TotalCharges' column (float64 data type) :

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [169]:
#### using fillna (median)

df['TotalCharges'].fillna(df['TotalCharges'].median(),inplace=True)
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

#### 3.1 Handle missing values : (1) collect data or (2) delete or impute (part of 3.1) FOR catagorical

#### 3.2 Check Duplicates and select and eleminate duplicate

In [170]:
df.duplicated().sum()

4

In [171]:
duplicate = df[df.duplicated()]
 
print("Duplicate Rows :")
duplicate

Duplicate Rows :

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
10319,3948-BLXYF,Female,0,No,Yes,66,Yes,No,No,Yes,...,No,No,Yes,Yes,One year,No,Mailed check,74.80,1821.20,No
10320,3149-NPXCN,Male,1,No,No,45,Yes,Yes,Fiber optic,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,No,Credit card (automatic),24.80,1600.95,No
10321,5140-PTXKA,Male,0,No,Yes,69,Yes,No phone service,No,No,...,No,Yes,Yes,Yes,Month-to-month,Yes,Mailed check,100.85,399.25,No
10322,4641-NJXUX,Male,1,No,No,15,Yes,No,Fiber optic,No,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,101.35,1218.55,Yes

In [172]:
duplicate_drop = df.drop_duplicates(inplace=True)

duplicate_drop

In [173]:
df.describe()

       SeniorCitizen        tenure  MonthlyCharges  TotalCharges
count   10319.000000  10319.000000    10319.000000  10319.000000
mean        0.203024     32.277934       64.814372   2275.686588
std         0.402269     24.573905       30.112132   2260.670514
min         0.000000      0.000000       18.250000     18.800000
25%         0.000000      9.000000       35.450000    403.775000
50%         0.000000     29.000000       70.400000   1391.150000
75%         0.000000     55.000000       89.900000   3777.150000
max         1.000000     72.000000      118.750000   8684.800000

#### 3.7 Exploring Data

In [174]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [175]:
print("Categories in 'customerID' variable:     ",end=" " )
print(df['customerID'].unique())

print("Categories in 'gender' variable:  ",end=" ")
print(df['gender'].unique())

print("Categories in'SeniorCitizen:",end=" " )
print(df['SeniorCitizen'].unique())

print("Categories in 'Partner' variable:     ",end=" " )
print(df['Partner'].unique())

print("Categories in 'Dependents' variable:     ",end=" " )
print(df['Dependents'].unique())

###############################################################################

print("Categories in 'tenure' variable:     ",end=" " )
print(df['tenure'].unique())

print("Categories in 'PhoneService' variable:  ",end=" ")
print(df['PhoneService'].unique())

print("MultipleLines:",end=" " )
print(df['MultipleLines'].unique())

print("Categories in 'InternetService' variable:     ",end=" " )
print(df['InternetService'].unique())

print("Categories in 'OnlineSecurity' variable:     ",end=" " )
print(df['OnlineSecurity'].unique())

###############################################################################

print("Categories in 'OnlineBackup' variable:     ",end=" " )
print(df['OnlineBackup'].unique())

print("Categories in 'DeviceProtection' variable:  ",end=" ")
print(df['DeviceProtection'].unique())

print("TechSupport:",end=" " )
print(df['TechSupport'].unique())

print("Categories in 'StreamingTV' variable:     ",end=" " )
print(df['StreamingTV'].unique())

print("Categories in 'StreamingMovies' variable:     ",end=" " )
print(df['StreamingMovies'].unique())
###############################################################################

print("Categories in 'Contract' variable:     ",end=" " )
print(df['Contract'].unique())

print("Categories in 'PaperlessBilling' variable:  ",end=" ")
print(df['PaperlessBilling'].unique())

print("Categories in 'PaymentMethod' variable:     ",end=" " )
print(df['PaymentMethod'].unique())

print("Categories in 'MonthlyCharges' variable:     ",end=" " )
print(df['MonthlyCharges'].unique())

print("Categories in 'TotalCharges' variable:     ",end=" " )
print(df['TotalCharges'].unique())

print("Categories in 'Churn' variable:     ",end=" " )
print(df['Churn'].unique())

###############################################################################

Categories in 'customerID' variable:      ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '1248-YMXNM' '0048-LUXLS'
 '7549-MYXPK']
Categories in 'gender' variable:   ['Female' 'Male']
Categories in'SeniorCitizen: [0 1]
Categories in 'Partner' variable:      ['Yes' 'No']
Categories in 'Dependents' variable:      ['No' 'Yes']
Categories in 'tenure' variable:      [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
Categories in 'PhoneService' variable:   ['No' 'Yes']
MultipleLines: ['No phone service' 'No' 'Yes']
Categories in 'InternetService' variable:      ['DSL' 'Fiber optic' 'No']
Categories in 'OnlineSecurity' variable:      ['No' 'Yes' 'No internet service']
Categories in 'OnlineBackup' variable:      ['Yes' 'No' 'No internet service']
Categories in 'DeviceProtection' variable:   ['No' 'Yes' 'No internet service']
TechSupport: ['No' 'Yes' 'No internet service']
Categories in 'StreamingTV' variable:      ['No' 'Yes' 'No internet service']
Categories in 'StreamingMovies' variable:      ['No' 'Yes' 'No internet service']
Categories in 'Contract' variable:      ['Month-to-month' 'One year' 'Two year']
Categories in 'PaperlessBilling' variable:   ['Yes' 'No']
Categories in 'PaymentMethod' variable:      ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Categories in 'MonthlyCharges' variable:      [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
Categories in 'TotalCharges' variable:      [  29.85 1889.5   108.15 ...  467.55 7537.5  7482.1 ]
Categories in 'Churn' variable:      ['No' 'Yes']

In [176]:
# define numerical & categorical columns
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

# print columns
print('We have {} numerical features : {}'.format(len(numeric_features), numeric_features))
print('\nWe have {} categorical features : {}'.format(len(categorical_features), categorical_features))

We have 4 numerical features : ['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges']

We have 17 categorical features : ['customerID', 'gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'Churn']

In [177]:
####drop unwanted column
df.drop(columns = ['customerID'], inplace = True)

In [178]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10314,Male,1,No,No,15,Yes,No,Fiber optic,No,Yes,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,101.35,1218.55,Yes
10315,Female,1,Yes,Yes,28,Yes,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,81.70,81.70,Yes
10316,Male,0,No,Yes,70,Yes,Yes,No,No,No,No,No,No,No,Month-to-month,No,Electronic check,68.25,2171.15,Yes
10317,Female,0,No,No,36,Yes,No,Fiber optic,No,Yes,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,105.10,3634.80,No
10318,Female,0,No,No,16,Yes,Yes,Fiber optic,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.40,292.40,No

#### Now covert "hot encoding" or "Label Encoding or Ordinal Encoding" or best practice we used "mean or targetencoding which reduce the target" to convert the catagorical values in numerical one

##### 'hot codding' for multi column

In [179]:
# define numerical & categorical columns
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

# print columns
print('We have {} numerical features : {}'.format(len(numeric_features), numeric_features))
print('\nWe have {} categorical features : {}'.format(len(categorical_features), categorical_features))

We have 4 numerical features : ['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges']

We have 16 categorical features : ['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'Churn']

In [180]:
##Creating New DataFrame


# creating new df
# setting columns we use
new_df = pd.read_csv("data/WA_Fn-UseC_-Telco-Customer-Churn_new_ad.csv",usecols=categorical_features) 
new_df.head()

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn
0,Female,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,No
1,Male,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,No
2,Male,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,Yes
3,Male,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),No
4,Female,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,Yes

In [181]:
#Finding Unique Values


# unique values in each columns
for x in new_df.columns:
    #prinfting unique values
    print(x ,':', len(new_df[x].unique()))

gender : 2
Partner : 2
Dependents : 2
PhoneService : 2
MultipleLines : 3
InternetService : 3
OnlineSecurity : 3
OnlineBackup : 3
DeviceProtection : 3
TechSupport : 3
StreamingTV : 3
StreamingMovies : 3
Contract : 3
PaperlessBilling : 2
PaymentMethod : 4
Churn : 2

In [182]:
#Most Frequent variables


# finding the top 20 categories
new_df.gender.value_counts().sort_values(ascending=False).head(20)

gender
Male      5245
Female    5078
Name: count, dtype: int64

In [183]:
#List of Most Frequent Categorical Variables
# make list with top 10 variables
top_10 = [x for x in new_df.gender.value_counts().sort_values(ascending=False).head(10).index]
top_10

['Male', 'Female']

In [184]:
#All Selected variable on OneHotEncoding
# for all categorical variables we selected
def top_x(df2,variable,top_x_labels):
    for label in top_x_labels:
        df2[variable+'_'+label] = np.where(data[variable]==label,1,0)


# read the data again
data = pd.read_csv("data/WA_Fn-UseC_-Telco-Customer-Churn_new_ad.csv",usecols=categorical_features) 
#encode Nighborhood into the 10 most frequent categories
top_x(data,'gender',top_10)
#top_x()
# display data
data

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn,gender_Male,gender_Female
0,Female,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,No,0,1
1,Male,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,No,1,0
2,Male,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,Yes,1,0
3,Male,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),No,1,0
4,Female,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,Yes,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10318,Female,No,No,Yes,Yes,Fiber optic,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,No,0,1
10319,Female,No,Yes,Yes,No,No,Yes,No,No,No,Yes,Yes,One year,No,Mailed check,No,0,1
10320,Male,No,No,Yes,Yes,Fiber optic,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Credit card (automatic),No,1,0
10321,Male,No,Yes,Yes,No phone service,No,No,No,No,Yes,Yes,Yes,Month-to-month,Yes,Mailed check,No,1,0
10322,Male,No,No,Yes,No,Fiber optic,No,Yes,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,Yes,1,0

In [185]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

categorical_features

encoder = OneHotEncoder()

# Fit and transform the categorical columns
encoded_data = encoder.fit_transform(new_df[categorical_features])

# Convert sparse matrix to DataFrame
encoded_df = pd.DataFrame(encoded_data.toarray(), columns=encoder.get_feature_names_out(categorical_features))

# Concatenate encoded_df with original data
final_data = pd.concat([new_df.reset_index(drop=True), encoded_df], axis=1)

final_data

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_No,Churn_Yes
0,Female,Yes,No,No,No phone service,DSL,No,Yes,No,No,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
1,Male,No,No,Yes,No,DSL,Yes,No,Yes,No,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,Male,No,No,Yes,No,DSL,Yes,Yes,No,No,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
3,Male,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,Female,No,No,Yes,No,Fiber optic,No,No,No,No,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10318,Female,No,No,Yes,Yes,Fiber optic,No internet service,No internet service,No internet service,No internet service,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
10319,Female,No,Yes,Yes,No,No,Yes,No,No,No,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
10320,Male,No,No,Yes,Yes,Fiber optic,No internet service,No internet service,No internet service,No internet service,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
10321,Male,No,Yes,Yes,No phone service,No,No,No,No,Yes,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
10322,Male,No,No,Yes,No,Fiber optic,No,Yes,No,No,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0

# above process is very lengthy and each column generate subcolumn based on different catagorical value which increase size of the dataframe so we reject above one and use below

In [186]:
#lable encoder

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df2 = df.copy(deep = True)
text_data_features = [i for i in list(df.columns) if i not in list(df.describe().columns)]

print('Label Encoder Transformation')
for i in text_data_features :
    df2[i] = le.fit_transform(df2[i])
    print(i,' : ',df2[i].unique(),' = ',le.inverse_transform(df2[i].unique()))

Label Encoder Transformation
gender  :  [0 1]  =  ['Female' 'Male']
Partner  :  [1 0]  =  ['Yes' 'No']
Dependents  :  [0 1]  =  ['No' 'Yes']
PhoneService  :  [0 1]  =  ['No' 'Yes']
MultipleLines  :  [1 0 2]  =  ['No phone service' 'No' 'Yes']
InternetService  :  [0 1 2]  =  ['DSL' 'Fiber optic' 'No']
OnlineSecurity  :  [0 2 1]  =  ['No' 'Yes' 'No internet service']
OnlineBackup  :  [2 0 1]  =  ['Yes' 'No' 'No internet service']
DeviceProtection  :  [0 2 1]  =  ['No' 'Yes' 'No internet service']
TechSupport  :  [0 2 1]  =  ['No' 'Yes' 'No internet service']
StreamingTV  :  [0 2 1]  =  ['No' 'Yes' 'No internet service']
StreamingMovies  :  [0 2 1]  =  ['No' 'Yes' 'No internet service']
Contract  :  [0 1 2]  =  ['Month-to-month' 'One year' 'Two year']
PaperlessBilling  :  [1 0]  =  ['Yes' 'No']
PaymentMethod  :  [2 3 0 1]  =  ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn  :  [0 1]  =  ['No' 'Yes']

### From above We creating a deep copy of the orginal dataset and label encoding the text data.
### Modifications in the original dataset will not be highlighted in this deep copy.
### Hence, we use this deep copy of dataset that has all the features converted into numerical values for visualization & modeling purposes.
### We now again the descriptive stats of the data.

#### 3.8 outlire detection either IQR or Zscore
#### https://www.youtube.com/watch?v=R-P8qEGXnBs 
#### https://www.youtube.com/watch?v=rzR_cKnkD18

## Machine learning model does not understand the units of the values of the features. It treats the input just as a simple number but does not understand the true meaning of that value. Thus, it becomes necessary to scale the data. Eg : Age = Years; FastingBS = mg / dl; Charges = Currency

## We have 2 options for data scaling : 1) Normalization 2) Standardization. As most of the algorithms assume the data to be normally (Gaussian) distributed, 

## Normalization is done for features whose data does not display normal distribution and 

## standardization is carried out for features that are normally distributed where their values are huge or very small as compared to other features.

## Normalization : tenure, MonthlyCharges and TotalCharges features are normalized as they displayed a right skewed and bimodal data distribution.

## Standardization : None of the features are standardized for the above data.

In [187]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler
mms = MinMaxScaler() # Normalization
ss = StandardScaler() # Standardization

#df2.drop(columns = ['MonthlyCharges_Group','TotalCharges_Group'], inplace = True)

df2['tenure'] = mms.fit_transform(df2[['tenure']])
df2['MonthlyCharges'] = mms.fit_transform(df2[['MonthlyCharges']])
df2['TotalCharges'] = mms.fit_transform(df2[['TotalCharges']])
df2.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,0.013889,0,1,0,0,2,0,0,0,0,0,1,2,0.115423,0.001275,0
1,1,0,0,0,0.472222,1,0,0,2,0,2,0,0,0,1,0,3,0.385075,0.215867,0
2,1,0,0,0,0.027778,1,0,0,2,2,0,0,0,0,0,1,3,0.354229,0.010310,1
3,1,0,0,0,0.625000,0,1,0,2,0,2,2,0,0,1,0,0,0.239303,0.210241,0
4,0,0,0,0,0.027778,1,0,1,0,0,0,0,0,0,0,1,2,0.521891,0.015330,1

In [188]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler

def min_max_standard_scaler():
    mms = MinMaxScaler() # Normalization
    ss = StandardScaler() # Standardization
    
    

#df2.drop(columns = ['MonthlyCharges_Group','TotalCharges_Group'], inplace = True)

    df2['tenure'] = mms.fit_transform(df2[['tenure']])
    df2['MonthlyCharges'] = mms.fit_transform(df2[['MonthlyCharges']])
    df2['TotalCharges'] = mms.fit_transform(df2[['TotalCharges']])
    
    return min_max_standard_scaler()
#df2.head()

In [189]:
min_max_standard_scaler()

RecursionError: maximum recursion depth exceeded

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

def normalize_two_columns(df2, tenure, MonthlyCharges_Group):
    """
    Normalize two specific columns in a DataFrame using MinMaxScaler.

    Parameters:
        df (pandas.DataFrame): The DataFrame containing the columns to normalize.
        column1 (str): The name of the first column to normalize.
        column2 (str): The name of the second column to normalize.

    Returns:
        pandas.DataFrame: The DataFrame with the normalized columns.
    """
    if tenure not in df2.columns or MonthlyCharges_Group not in df2.columns:
        raise ValueError(f"One or both columns '{tenure}' and '{MonthlyCharges_Group}' not found in the DataFrame.")
    
    # Initialize MinMaxScaler
    scaler = MinMaxScaler()
    
    # Fit and transform both columns
    df2[['tenure', 'MonthlyCharges_Group']] = scaler.fit_transform(df2[['tenure', 'MonthlyCharges_Group']])
    
    return df2

In [ ]:
df2

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,0.013889,0,1,0,0,2,0,0,0,0,0,1,2,0.115423,0.001275,0
1,1,0,0,0,0.472222,1,0,0,2,0,2,0,0,0,1,0,3,0.385075,0.215867,0
2,1,0,0,0,0.027778,1,0,0,2,2,0,0,0,0,0,1,3,0.354229,0.010310,1
3,1,0,0,0,0.625000,0,1,0,2,0,2,2,0,0,1,0,0,0.239303,0.210241,0
4,0,0,0,0,0.027778,1,0,1,0,0,0,0,0,0,0,1,2,0.521891,0.015330,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10314,1,1,0,0,0.208333,1,0,1,0,2,0,0,2,2,0,1,2,0.826866,0.138443,1
10315,0,1,1,1,0.388889,1,1,0,2,0,0,0,0,0,0,1,2,0.631343,0.007258,1
10316,1,0,0,1,0.972222,1,2,2,0,0,0,0,0,0,0,0,2,0.497512,0.248367,1
10317,0,0,0,0,0.500000,1,0,1,0,2,2,2,2,2,0,1,2,0.864179,0.417263,0
10318,0,0,0,0,0.222222,1,2,1,1,1,1,1,1,1,2,0,3,0.021393,0.031572,0