# 1.Student Performance Indicator
# 2.Life cycle of Machine learning Project
# 3.Understanding the Problem Statement
# 4.Data Collection
# 5.Data Checks to perform
# 6.Exploratory data analysis
# 7.Data Pre-Processing
# 8.Model Training
# 9.Choose best model

# 1) Problem statement
# This project understands how the student's performance (test scores) is affected by other variables such as Gender, Ethnicity, Parental level of education, Lunch and Test preparation course.

2) 
# Data Collection
# Dataset Source - https://www.kaggle.com/datasets/spscientist/students-performance-in-exams?datasetId=74977
# The data consists of 8 column and 1000 rows.

# 2.1 Import Data and Required Packages
# Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [1]:
pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

Import the CSV Data as Pandas DataFrame

In [4]:
df = pd.read_csv("data/WA_Fn-UseC_-Telco-Customer-Churn_new_ad.csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# Show top 5 rows

In [5]:
df.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# shape of the data set

In [6]:
df.shape

(10323, 21)

# 2.2 Dataset information

##### customerID
##### gender : sex of students -> (Male/female)
##### SeniorCitizen : yes / no
##### Partner	: yes / no
##### Dependents : 
##### tenure : months value (1,2,7,12,45... etc)
##### PhoneService : yes / no
##### MultipleLines : yes / no /multiple_line 
##### InternetService : Fiber optic / dsl
##### OnlineSecurity : yes / no
##### OnlineBackup : yes / no
##### DeviceProtection : yes / no
##### TechSupport : yes / no
##### StreamingTV : yes / no
##### StreamingMovies : yes / no
##### Contract : Monthly /yearly
##### PaperlessBilling : yes / no
##### PaymentMethod : bank transfer /check /mail
##### MonthlyCharges : value
##### TotalCharges : value
##### Churn : yes / no

## 3. Data Checks to perform
##### Check Missing values
##### Check Duplicates
##### Check data type
##### Check the number of unique values of each column
##### Check statistics of data set
##### Check various categories present in the different categorical column

#### 3.1 Check Missing values

In [7]:
df.isna().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        28
Churn                0
dtype: int64

#### 3.2 Check Duplicates

#### '28' missing values in "TotalCharges" column.

In [8]:
df.duplicated().sum()

4

##### '4' duplicated values is found in data set

#### 3.3 Check data type of the data set

In [9]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [10]:
#### check null and dtype 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10323 entries, 0 to 10322
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        10323 non-null  object
 1   gender            10323 non-null  object
 2   SeniorCitizen     10323 non-null  int64
 3   Partner           10323 non-null  object
 4   Dependents        10323 non-null  object
 5   tenure            10323 non-null  int64
 6   PhoneService      10323 non-null  object
 7   MultipleLines     10323 non-null  object
 8   InternetService   10323 non-null  object
 9   OnlineSecurity    10323 non-null  object
 10  OnlineBackup      10323 non-null  object
 11  DeviceProtection  10323 non-null  object
 12  TechSupport       10323 non-null  object
 13  StreamingTV       10323 non-null  object
 14  StreamingMovies   10323 non-null  object
 15  Contract          10323 non-null  object
 16  PaperlessBilling  10323 non-null  object
 17  PaymentMethod     10323 non-null  object
 18  MonthlyCharges    10323 non-null  float64
 19  TotalCharges      10295 non-null  object
 20  Churn             10323 non-null  object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.7+ MB

#### 3.4 Checking the no of unique values in data sets

In [11]:
df.nunique()

customerID          10310
gender                  2
SeniorCitizen           2
Partner                 2
Dependents              2
tenure                 73
PhoneService            2
MultipleLines           3
InternetService         3
OnlineSecurity          3
OnlineBackup            3
DeviceProtection        3
TechSupport             3
StreamingTV             3
StreamingMovies         3
Contract                3
PaperlessBilling        2
PaymentMethod           4
MonthlyCharges       1585
TotalCharges         6531
Churn                   2
dtype: int64

#### 3.5 Check statistics of data set

In [12]:
df.describe()

       SeniorCitizen        tenure  MonthlyCharges
count   10323.000000  10323.000000    10323.000000
mean        0.203139     32.284317       64.818493
std         0.402354     24.574950       30.113270
min         0.000000      0.000000       18.250000
25%         0.000000      9.000000       35.450000
50%         0.000000     29.000000       70.450000
75%         0.000000     55.000000       89.900000
max         1.000000     72.000000      118.750000

##### Insight: Values are varry and do the data cleanning part

#### Handle missing values : (1) collect data or (2) delete or impute (part of 3.1)
https://www.analyticsvidhya.com/blog/2021/10/handling-missing-value/

In [13]:
#### 'Totalcharges' column consistswith 28 missing values and the column d type is object.So first convert it numeric and then 
#### using fillna (median)

df.TotalCharges = pd.to_numeric(df.TotalCharges, errors='coerce')

print("\n Change from 'TotalCharges' column (object data type) to 'TotalCharges' column (float64 data type) : ")
df.dtypes

 Change from 'TotalCharges' column (object data type) to 'TotalCharges' column (float64 data type) :

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [14]:
#### using fillna (median)

df['TotalCharges'].fillna(df['TotalCharges'].median(),inplace=True)
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

#### 3.2 Check Duplicates and select and eleminate duplicate

In [15]:
df.duplicated().sum()

4

In [16]:
duplicate = df[df.duplicated()]
 
print("Duplicate Rows :")
duplicate

Duplicate Rows :

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
10319,3948-BLXYF,Female,0,No,Yes,66,Yes,No,No,Yes,...,No,No,Yes,Yes,One year,No,Mailed check,74.80,1821.20,No
10320,3149-NPXCN,Male,1,No,No,45,Yes,Yes,Fiber optic,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,No,Credit card (automatic),24.80,1600.95,No
10321,5140-PTXKA,Male,0,No,Yes,69,Yes,No phone service,No,No,...,No,Yes,Yes,Yes,Month-to-month,Yes,Mailed check,100.85,399.25,No
10322,4641-NJXUX,Male,1,No,No,15,Yes,No,Fiber optic,No,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,101.35,1218.55,Yes

In [17]:
duplicate_drop = df.drop_duplicates(inplace=True)

duplicate_drop

In [18]:
df.describe()

       SeniorCitizen        tenure  MonthlyCharges  TotalCharges
count   10319.000000  10319.000000    10319.000000  10319.000000
mean        0.203024     32.277934       64.814372   2275.686588
std         0.402269     24.573905       30.112132   2260.670514
min         0.000000      0.000000       18.250000     18.800000
25%         0.000000      9.000000       35.450000    403.775000
50%         0.000000     29.000000       70.400000   1391.150000
75%         0.000000     55.000000       89.900000   3777.150000
max         1.000000     72.000000      118.750000   8684.800000

#### 3.7 Exploring Data

In [19]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [28]:
print("Categories in 'customerID' variable:     ",end=" " )
print(df['customerID'].unique())

print("Categories in 'gender' variable:  ",end=" ")
print(df['gender'].unique())

print("Categories in'SeniorCitizen:",end=" " )
print(df['SeniorCitizen'].unique())

print("Categories in 'Partner' variable:     ",end=" " )
print(df['Partner'].unique())

print("Categories in 'Dependents' variable:     ",end=" " )
print(df['Dependents'].unique())

###############################################################################

print("Categories in 'tenure' variable:     ",end=" " )
print(df['tenure'].unique())

print("Categories in 'PhoneService' variable:  ",end=" ")
print(df['PhoneService'].unique())

print("MultipleLines:",end=" " )
print(df['MultipleLines'].unique())

print("Categories in 'InternetService' variable:     ",end=" " )
print(df['InternetService'].unique())

print("Categories in 'OnlineSecurity' variable:     ",end=" " )
print(df['OnlineSecurity'].unique())

###############################################################################

print("Categories in 'OnlineBackup' variable:     ",end=" " )
print(df['OnlineBackup'].unique())

print("Categories in 'DeviceProtection' variable:  ",end=" ")
print(df['DeviceProtection'].unique())

print("TechSupport:",end=" " )
print(df['TechSupport'].unique())

print("Categories in 'StreamingTV' variable:     ",end=" " )
print(df['StreamingTV'].unique())

print("Categories in 'StreamingMovies' variable:     ",end=" " )
print(df['StreamingMovies'].unique())
###############################################################################

print("Categories in 'Contract' variable:     ",end=" " )
print(df['Contract'].unique())

print("Categories in 'PaperlessBilling' variable:  ",end=" ")
print(df['PaperlessBilling'].unique())

print("Categories in 'PaymentMethod' variable:     ",end=" " )
print(df['PaymentMethod'].unique())

print("Categories in 'MonthlyCharges' variable:     ",end=" " )
print(df['MonthlyCharges'].unique())

print("Categories in 'TotalCharges' variable:     ",end=" " )
print(df['TotalCharges'].unique())

print("Categories in 'Churn' variable:     ",end=" " )
print(df['Churn'].unique())

###############################################################################

Categories in 'customerID' variable:      ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '1248-YMXNM' '0048-LUXLS'
 '7549-MYXPK']
Categories in 'gender' variable:   ['Female' 'Male']
Categories in'SeniorCitizen: [0 1]
Categories in 'Partner' variable:      ['Yes' 'No']
Categories in 'Dependents' variable:      ['No' 'Yes']
Categories in 'tenure' variable:      [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
Categories in 'PhoneService' variable:   ['No' 'Yes']
MultipleLines: ['No phone service' 'No' 'Yes']
Categories in 'InternetService' variable:      ['DSL' 'Fiber optic' 'No']
Categories in 'OnlineSecurity' variable:      ['No' 'Yes' 'No internet service']
Categories in 'OnlineBackup' variable:      ['Yes' 'No' 'No internet service']
Categories in 'DeviceProtection' variable:   ['No' 'Yes' 'No internet service']
TechSupport: ['No' 'Yes' 'No internet service']
Categories in 'StreamingTV' variable:      ['No' 'Yes' 'No internet service']
Categories in 'StreamingMovies' variable:      ['No' 'Yes' 'No internet service']
Categories in 'Contract' variable:      ['Month-to-month' 'One year' 'Two year']
Categories in 'PaperlessBilling' variable:   ['Yes' 'No']
Categories in 'PaymentMethod' variable:      ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Categories in 'MonthlyCharges' variable:      [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
Categories in 'TotalCharges' variable:      [  29.85 1889.5   108.15 ...  467.55 7537.5  7482.1 ]
Categories in 'Churn' variable:      ['No' 'Yes']

OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0