# 1.Student Performance Indicator
# 2.Life cycle of Machine learning Project
# 3.Understanding the Problem Statement
# 4.Data Collection
# 5.Data Checks to perform
# 6.Exploratory data analysis
# 7.Data Pre-Processing
# 8.Model Training
# 9.Choose best model

# 1) Problem statement
# This project understands how the student's performance (test scores) is affected by other variables such as Gender, Ethnicity, Parental level of education, Lunch and Test preparation course.

2) 
# Data Collection
# Dataset Source - https://www.kaggle.com/datasets/spscientist/students-performance-in-exams?datasetId=74977
# The data consists of 8 column and 1000 rows.

# 2.1 Import Data and Required Packages
# Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [2]:
pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\all_program\f_drive\data_science\ai_and_machine_learning\guided_project\telecom_churne\update_project24\venv10\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

Import the CSV Data as Pandas DataFrame

In [5]:
df = pd.read_csv("data/WA_Fn-UseC_-Telco-Customer-Churn_new_ad.csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# Show top 5 rows

In [6]:
df.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# shape of the data set

In [7]:
df.shape

(10323, 21)

# 2.2 Dataset information

##### customerID
##### gender : sex of students -> (Male/female)
##### SeniorCitizen : yes / no
##### Partner	: yes / no
##### Dependents : 
##### tenure : months value (1,2,7,12,45... etc)
##### PhoneService : yes / no
##### MultipleLines : yes / no /multiple_line 
##### InternetService : Fiber optic / dsl
##### OnlineSecurity : yes / no
##### OnlineBackup : yes / no
##### DeviceProtection : yes / no
##### TechSupport : yes / no
##### StreamingTV : yes / no
##### StreamingMovies : yes / no
##### Contract : Monthly /yearly
##### PaperlessBilling : yes / no
##### PaymentMethod : bank transfer /check /mail
##### MonthlyCharges : value
##### TotalCharges : value
##### Churn : yes / no

## 3. Data Checks to perform
##### Check Missing values
##### Check Duplicates
##### Check data type
##### Check the number of unique values of each column
##### Check statistics of data set
##### Check various categories present in the different categorical column

#### 3.1 Check Missing values

In [8]:
df.isna().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        28
Churn                0
dtype: int64

#### '28' missing values in "TotalCharges" column.

#### 3.2 Check Duplicates

In [9]:
df.duplicated().sum()

4

##### '4' duplicated values is found in data set

#### 3.3 Check data type of the data set

In [11]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [12]:
#### check null and dtype 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10323 entries, 0 to 10322
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        10323 non-null  object
 1   gender            10323 non-null  object
 2   SeniorCitizen     10323 non-null  int64
 3   Partner           10323 non-null  object
 4   Dependents        10323 non-null  object
 5   tenure            10323 non-null  int64
 6   PhoneService      10323 non-null  object
 7   MultipleLines     10323 non-null  object
 8   InternetService   10323 non-null  object
 9   OnlineSecurity    10323 non-null  object
 10  OnlineBackup      10323 non-null  object
 11  DeviceProtection  10323 non-null  object
 12  TechSupport       10323 non-null  object
 13  StreamingTV       10323 non-null  object
 14  StreamingMovies   10323 non-null  object
 15  Contract          10323 non-null  object
 16  PaperlessBilling  10323 non-null  object
 17  PaymentMethod     10323 non-null  object
 18  MonthlyCharges    10323 non-null  float64
 19  TotalCharges      10295 non-null  object
 20  Churn             10323 non-null  object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.7+ MB

#### 3.4 Checking the no of unique values in data sets